* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(36, 8, 8);
}
h3 {
    text-align: center;
    font-family: 'Passion One', cursive;
    color: #fff;
}

#search-keyword{
 background: #ffc107;
}

.warsClass{
 background:#FFF;	
 padding: 1px;
 border: 1px solid #000;
 margin-bottom: 1rem;
 width:100px;
 height: 100px;
 float: left;
 margin-left: 1.5rem;
 border-radius: 5px;
}

img.small{
width: 100%;
height: 100%;	

}
/*--- otros estilos ---*/

